.jumbotron{
    background-color: rosybrown;
    color:black;
    width: 100%;
   margin-top: 50px;
}

.Subtitulo{
  
  color:black;
  text-align: center;
  width:100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
footer
{
    background-color: rosybrown;
    color:black;
    
    padding: 10px 10px 10px 10px;
   position: relative;
    bottom:0px;
    width:100%;
}

.btn{
    background-color: rosybrown;
    color:white;
    border-radius: 0px;
}
a{
    color:black;
}
.espaciado{
    padding-right: 15px;
}


.card-tipo
{
flex:1 200px;
padding: 2px 0px 0px 0px;


}

.reserva{
    width:100%;
  
}