@rose:#e35488;

.margenes(@top:0px, @bottom:0px)
{
    margin-top:@top;
    margin-bottom:@bottom;
}

.jumbotron{
    background-color: @rose;
    color:black;
    width: 100%;
   .margenes(50px,0px);
}

.Subtitulo{
  
  color:black;
  text-align: center;
  width:100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
footer
{
    background-color: @rose;
    color:black;
    
    padding: 10px 10px 10px 10px;
   position: relative;
    .margenes(10px,0px);
    width:100%;
}

.btn{
    background-color: @rose;
    color:white;
    border-radius: 0px;
}
a{
    color:black;
}
.espaciado{
    padding-right: 15px;
}


.card-tipo
{
flex:1 200px;
padding: 2px 0px 0px 0px;


}

.reserva{
    width:100%;
  
}