.jumbotron {
  background-color: #e35488;
  color: black;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
}
.Subtitulo {
  color: black;
  text-align: center;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
footer {
  background-color: #e35488;
  color: black;
  padding: 10px 10px 10px 10px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}
.btn {
  background-color: #e35488;
  color: white;
  border-radius: 0px;
}
a {
  color: black;
}
.espaciado {
  padding-right: 15px;
}
.card-tipo {
  flex: 1 200px;
  padding: 2px 0px 0px 0px;
}
.reserva {
  width: 100%;
}
