.jumbotron {
  background-color: red;
  color: black;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px; }

.Subtitulo {
  color: black;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0 0 0 0; }

footer {
  background-color: red;
  color: black;
  padding: 10px 10px 10px 10px;
  position: relative;
  bottom: 0px;
  width: 100%; }

.btn {
  background-color: red;
  color: white;
  border-radius: 0px; }

a {
  color: black; }

.espaciado {
  padding-right: 15px; }

.card-tipo {
  flex: 1 200px;
  padding: 2px 0px 0px 0px; }

.reserva {
  width: 100%; }
